@use "../config/variables" as *;
@use "../mixins/to" as *;

.card {
  background-color: $white;
  padding: 2rem 2.5rem;
  border-radius: 7px;

  @include to($desktop) {
    margin-bottom: 1rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__comment {
    color: var(--comment-color, $grayish-blue);
    line-height: 1.5;
    font-size: .9rem;
  }

  &--is-violet,
  &--is-grayish-blue,
  &--is-dark-blue {
    color: $white;
  }

  &--is-light {
    --comment-color: #ffffffaa;
  }

  &--is-violet {
    background-color: $violet;
  }

  &--has-background-quotes {
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 1rem;
  }

  &--is-grayish-blue {
    background-color: $grayish-blue;
  }

  &--is-dark-blue {
    background-color: $dark-blue;
  }

  $area-names: ("daniel", "jonathan", "jeanette", "patrick", "kira");

  @each $user in $area-names {
    &--#{$user}{
      grid-area: #{$user};
    }
  }
}
