@use "../config/variables" as *;

.user {
  display: flex;
  align-items: center;

  &__author-name {
    color: var(--author-color, $dark-blue);
  }

  &__profession {
    color: var(--profession-color, $grayish-blue);
    font-size: .9rem;
  }

  &__left {
    margin-right: 1rem;
  }

  &__picture {
    border-radius: 50%;
    width: 35px;
    border: 3px solid var(--border-color, $white);

    &--has-violet-border {
      --border-color: hsl(263, 55%, 52%);
    }

    &--has-light-violet-border {
      --border-color:  hsl(263, 78%, 78%);
    }
  }

  &--is-light {
    --author-color: $white;
    --profession-color: #ffffffaa;
  }
}
