mixin user(pictureUrl, authorName, profession, classModifier = "", extension = ".jpg")
  header(class=`card__header user ${classModifier}`.trimRight())
    .user__left
      img.user__picture(src="images/" + pictureUrl + extension, alt=authorName + " profile picture")
    .user__right
      p.user__author-name= authorName
      p.user__profession= profession
